@model IEnumerable<Plantify.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="oxygen-bold paddingbot">Administration</h2>

<p>
    <a asp-action="Create" class="btn btn-small">Add an item</a>
</p>
<div class="table">
    <div class="is-hidden-touch">
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.ProductName)
        </p>
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.Price)
        </p>
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </p>
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.Category)
        </p>
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.Stock)
        </p>
        <p class="font-14 oxygen-bold">
            @Html.DisplayNameFor(model => model.Description)
        </p>
        <p></p>
    </div>
    <div>
        @foreach (var item in Model)
        {
            <div>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </p>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </p>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.Category)
                </p>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.Stock)
                </p>
                <p class="font-14 oxygen-bold">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <div class="is-hidden-touch">
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="readMore">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="readMore">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="readMore">Delete</a>
                </div>
            </div>
            <div class="admin-btn is-hidden-desktop">
                <a asp-action="Edit" asp-route-id="@item.ProductID" class="readMore">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ProductID" class="readMore">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ProductID" class="readMore">Delete</a>
            </div>
            <hr />
        }
    </div>
</div>
